<footer class="footer">
  <div class="footer-left">
    <p>&copy; 2025 Luke Weis. All rights reserved.</p>
  </div>
  <div class="footer-right">
    <a href="https://github.com/LukeWeis1" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/luke-weis-1b34a9257/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="mailto:lukeweis@outlook.com" target="_blank">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</footer>