<div class="header">
    <div class="header-left">
      <a href="#home" class="mainPage">Luke Weis</a>
      <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">☰</button>
    
  
    <nav class="nav" [class.open]="isMenuOpen">
      <ul>
        <li [class.active]="activeSection === 'education'"><a href="#education">Education</a></li>
        <li [class.active]="activeSection === 'experience'"><a href="#experience">Experience</a></li>
        <li [class.active]="activeSection === 'projects'"><a href="#projects">Projects</a></li>
        <li [class.active]="activeSection === 'involvement'"><a href="#involvement">Involvement</a></li>
        <li [class.active]="activeSection === 'contact'"><a href="#contact">Contact Me</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-right">
    <label class="switch">
      <input type="checkbox" checked (change)="toggleDarkMode()" />
      <span class="slider">
        <span class="icon sun">☀️</span>
        <span class="icon moon">🌙</span>
      </span>
    </label>
  </div>
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="scrollPercentage"></div>
  </div>
</div>