<app-header [activeSection]="activeSection"></app-header>
<section id="home">
    <div class="flex-Container">
        <div class = "column">
            <h1 class = "item">Luke Weis</h1>
            <h2 class = "item">Computer Science Student at the University of Cincinnati</h2>
        </div>
        <div class = "column">
            <img src="assets/images/Senior-Picture.jpeg" alt="Profile Picture" class="profile-Picture">
        </div>
        
    </div>
</section>

<section id="education">
    <h2>Education</h2>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <!-- your education content -->
  </section>
  
  <section id="experience">
    <h2>Experience</h2>
    <!-- your experience content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="projects">
    <h2>Projects</h2>
    <!-- your project content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="involvement">
    <h2>Involvement</h2>
    <!-- your involvement content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="contact">
    <h2>Contact Me</h2>
    <!-- your contact form -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>