<app-header [activeSection]="activeSection"></app-header>
<section id="home">
    <div class="flex-Container">
        <div class = "column">
            <h1 class = "item">Luke Weis</h1>
            <h2 class = "item">Computer Science Student at the University of Cincinnati</h2>
        </div>
        <div class = "column">
            <img src="assets/images/Senior-Picture.jpeg" alt="Profile Picture" class="profile-Picture">
        </div>
        
    </div>
</section>

<section id="education">
    <div class="angled-box1">
        <h3><i class="fas fa-graduation-cap"></i></h3>
        <h3>Education</h3>
    </div>
    <div class="education-body">
        <div class="centered-text-box">
            <h4>B.S. Computer Science, Honors</h4>
            <h5>University of Cincinnati</h5>
            <h2><span class="title">Projected Graduation:</span> May 2028</h2>
            <h2><span class="title">GPA:</span> 4.00</h2>
            <h2><span class="title">Awards:</span></h2>
                <h2>Mantei/Mae Scholarship, Cincinnatus Scholarship</h2>
            <h2><span class="title">Relevant Coursework: </span></h2>
                <h2>Data Structures & Algorithms, Intro to Computer Systems, Discrete Structures, Python Programming, Information Security & Assurance
</h2>
        </div>
    </div>
    <!-- your education content -->
  </section>
  
  <section id="experience">
    <div class="angled-box2">
        <h3><i class="fas fa-briefcase"></i></h3>
        <h3>Experience</h3>
    </div>
    <!-- your experience content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="projects">
    <div class="angled-box1">
        <h3>Projects</h3>
    </div>
    <!-- your project content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="involvement">
    <div class="angled-box2">
        <h3>Involvement</h3>
    </div>
    <!-- your involvement content -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>
  
  <section id="contact">
    <div class="angled-box1">
        <h3>Contact Me</h3>
    </div>
    <!-- your contact form -->
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>

    <p>test</p>
    <p>test</p>
    <p>test</p>
  </section>