<app-header [activeSection]="activeSection"></app-header>
  <section id="home">
    <div class="flex-Container">
        <div class = "column">
            <h1 class = "item">Luke Weis</h1>
            <h2 class = "item">Computer Science Student at the University of Cincinnati</h2>
        </div>
        <div class = "column">
            <img src="assets/images/Senior-Picture.jpeg" alt="Profile Picture" class="profile-Picture">
        </div>  
    </div>
  </section>

  <section id="education">
    <div class="angled-box1">
        <h3><i class="fas fa-graduation-cap"></i></h3>
        <h3>Education</h3>
    </div>
    <app-education></app-education>
  </section>
  
  <section id="experience">
    <div class="angled-box2">
        <h3><i class="fas fa-briefcase"></i></h3>
        <h3>Experience</h3>
    </div>
   <app-experience></app-experience>
  </section>
  
  <section id="projects">
    <div class="angled-box1">
        <h3><i class="fas fa-tools"></i></h3>
        <h3>Projects</h3>
    </div>
    <app-projects></app-projects>
  </section>
  
  <section id="involvement">
    <div class="angled-box2">
      <h3><i class="fas fa-users"></i></h3>
      <h3>Involvement</h3>
    </div>
    <app-involvement></app-involvement>
  </section>
  
  <section id="contact">
    <div class="angled-box1">
        <h3><i class="fas fa-envelope"></i></h3>
        <h3>Contact Me</h3>
    </div>
   <app-contact-me></app-contact-me>
  </section>