.flex-Container {
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
}

.column {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.item{
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.profile-Picture{
    width: 500px;
    height: auto;
}

@media (max-width: 930px) {
    #home {
        padding-top: 70px;
    }
    
    .flex-Container {
      flex-direction: column; /* ✅ stack columns vertically */
    }
  
    .column {
        //margin-bottom: 20px;
        width: 100%; /* optional, make full width on mobile */
    }
  
    .profile-Picture{
        width: auto;
        height: 500px;
    }
  }
  