<div class="education-body">
    <div class="centered-text-box">
        <h4>B.S. Computer Science, Honors</h4>
        <h5>University of Cincinnati</h5>
        <h2><span class="title">Projected Graduation:</span> May 2028</h2>
        <h2><span class="title">GPA:</span> 4.00</h2>
        <h2><span class="title">Awards:</span></h2>
            <div class="awards-container">
            <div class="award-wrapper">
                <h2 class="clickable-award">
                Mantei/Mae Scholarship
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="award-description">
                    Awarded by the University of Cincinnati’s Department of Electrical and Computer Engineering and Department of Computer Science. This highly selective award is given only to students in the top 1% of their class for the Class of 2028.
                    <br>
                    <br>
                    Received in April 2025.
                </div>
                </h2>
            </div>
            <div class="award-wrapper">
                <h2 class="clickable-award">
                Cincinnatus Scholarship
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="award-description">
                    The University of Cincinnati’s premier merit-based award, given to incoming students who demonstrate exceptional academic achievement and leadership potential. It also emphasizes a strong commitment to community service throughout the college experience.
                    <br>
                    <br>
                    Received in 2023, 2024, 2025.
                    </div>
                </h2>
            </div>
            </div>
        <h2><span class="title">Relevant Coursework: </span></h2>
            <h2>Data Structures & Algorithms, Intro to Computer Systems, Discrete Structures, Python Programming, Information Security & Assurance</h2>
    </div>
</div>