.centered-text-box {
  background-color: var(--translucent-box-color);
  color: white;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  max-width: 600px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

#education{
    margin-top: -90px;
}

.education-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    background-image: url("/assets/images/uc.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 130vh;
    margin-bottom: -100px;
}

//Awards Popups
.awards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;

  i {
    font-size: 20px;
    text-decoration: underline;
  }
}

.award-wrapper {
  position: relative;
  text-align: center;
}

.clickable-award {
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  display: inline-block;
}

.award-description {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 350px;
  z-index: 10;
  white-space: normal;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;
}

.award-description.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.award-description.hide {
  opacity: 0;
  transform: translate(-50%, 10px);
  visibility: hidden;
}

.award-wrapper:hover .award-description {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
