html {
  scroll-behavior: smooth;
  zoom: 0.8;
  
}

:root {
    --background-color: black;
    --text-color: white;
    --header-color: #383838;
    --link-color: lightblue;
    --translucent-box-color: rgba(0, 0, 0, 0.8);
    --contact-form-color: #666;
}
  

body{
    background: linear-gradient(
        to top right,
        var(--background-color),
        rgba(0, 0, 139, 0.2),
        rgba(150, 150, 150, 0.3),
        rgba(0, 0, 139, 0.2),
        var(--background-color)
      ),
      var(--background-color);
    background-size: 150%;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Futura', 'Arial';
    font-size: 60px; 
    color: var(--text-color);
    font-weight: bold;
  }

h2{
    font-family: 'Arial', sans-serif;
    font-size: 24px; 
    color: var(--text-color);
    font-weight: normal;
    text-align: center;
}

h3{
    font-family: 'Futura', 'Arial';
    font-size: 42px; 
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

h4{
    font-family: 'Futura', 'Arial';
    font-size: 37px; 
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

h5{
    font-family: 'Futura', 'Arial';
    font-size: 30px; 
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}


body.no-scroll {
  overflow: hidden; //Disables scrolling when pdf is visible
}
