<div class="experience-container">
    <div class="experience-flip-card" *ngFor="let card of experienceCards" (click)="flipCard(card)" [style.height.px]="card.heights.maxHeight">
        <div class="experience-flip-inner" [class.flipped]="card.flipped" [style.height.px]="card.heights.maxHeight">
        <div class="experience-flip-front" #frontContent>
            <div class="experience-card-image">
            <img [src]="card.image" [alt]="card.title" />
            </div>
            <div class="experience-card-text">
            <h3>{{ card.title }}</h3>
            <h5>{{ card.subtitle }}</h5>
            <h2>{{ card.date }}</h2>
            </div>
            <div class="flip-icon"><i class="fas fa-repeat"></i></div>
        </div>
        <div class="experience-flip-back" #backContent>
    <div class="experience-flip-back-content">
        <h3>Responsibilities & Contributions</h3>
        <ul>
            <li *ngFor="let item of card.details">{{ item }}</li>
        </ul>
    </div>
</div>
        </div>
    </div>
</div>
